* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: blue;
}

body {
  background-color: rgb(255, 255, 255);
  color: black;
}

header {
  display: flex;
  width: 100%;
  height: 20vh;
  background-color: rgb(0, 0, 0);
  color: white;

  padding: 10px;
  text-align: center;

  font-size: 15px;

  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
}

figure {
  border: solid 3px black;
}

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav ul {
  display: flex;
}

nav {
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  flex-wrap: nowrap;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: rgb(251, 255, 0);
  font-size: 15px;
  font-weight: bold;

  padding: 10px;
}

/* Layout principal */
main {
  display: flex;


  padding: 1rem;
}

/* Asides */
aside {
  background-color: white;
  color: #ffffff;
  flex-basis: 15%;
  font-size: 1em;
}

section {
  flex-basis: 100%;
}

/* Galería */
.gallery {
  display: flex;
  gap: 10px;
}

.gallery-item {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  align-items: stretch;
  font-size: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: space-around;
  color: #ffffff;

}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Menú hamburguesa */
.menu-toggle {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background-color: rgb(0, 229, 255);
  margin: 4px;
  transition: 0.3s;
}


/* Footer con galería */
footer {
  background-color: black;
  color: rgb(255, 255, 255);

  text-align: center;

}